<div class="row">
  <div class="large-12">
    <h2>Restaurant</h2>

      <table>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip Code</th>
          <th>Description</th>
          <th></th>
        </tr>

        <td><%= @restaurant.name %></td>
        <td><%= @restaurant.category %></td>
        <td><%= @restaurant.address %></td>
        <td><%= @restaurant.city %></td>
        <td><%= @restaurant.state %></td>
        <td><%= @restaurant.zipcode %></td>
        <td><%= @restaurant.description %></td>
      </table>

      <br>

      <h4>Reviews</h4>
      <table>
        <tr>
          <th>Rating</th>
          <th>Description</th>
          <th></th>
        </tr>
        <% if !@reviews.empty? %>
          <% @reviews.each do |review| %>
            <tr>
              <td><%= review.rating %></td>
              <td><%= review.description %></td>
            </tr>
          <% end %>
        <% end %>
      </table>

      <br>
    <%= link_to 'Add a review!', new_restaurant_review_path(@restaurant) %>
    <br>
    <%= link_to 'Back', restaurants_path%>
    </div>
</div>
